.overlay{
   display: none !important;
}

.overlay{
   position: absolute;
   height: 100%;
   width: 100%;
   background-color: hsl(0, 0%, 0%, 0.3);
   z-index: 1;
}

.header__container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 40px;
   padding: 6px 12px;
   border-radius: 8px 8px 0 0;
   background-color: var(--header);
}

#header__text {
   letter-spacing: 3px;
}

#header__add {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 3px;
   padding: 3px 8px;

   border-radius: 6px;
   border: none;
   background-color: var(--bg-accent);
   box-shadow: 0 0 1px var(--bg-border);
   transition: padding 0.1s ease-in;

   cursor: pointer;
}

#header__add:hover {
   padding: 3px 1rem;
}

#header__add img {
   height: 1rem;
   /* width: 12px; */
}

#header__add span {
   letter-spacing: 3px;
}

.todo__edit__header {
   background-color: var(--header);
   border: 8px 8px 0 0;
   padding: 8px;
}
